[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HCD"]
	path = HCD
	url = https://github.com/cran/HCD
[submodule "randnet"]
	path = randnet
	url = https://github.com/cran/randnet
